<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Game</title>
	</head>
	<body>
		<h1><%= game.title %></h1>
		<ul>
			<li>Genre: <%= game.genre %></li>
			<li>Developer: <%= game.developer.name %></li>
			<li>Rating: <%= game.rating %></li>
		</ul>
        <h2>Reviews:</h2>
        <% game.reviews.forEach(review => { %>
            <div>
                <h4 style="margin-bottom: 0px;">AnonymousUser:</h4>
                <p style="margin: 0px;"><%= review.body %></p>
            </div>
        <% }) %>
	</body>
</html>
